.schedule
  .schedule-datepicker.schedule-datepicker_mobile
    include ../../units/datechanger/datechanger.pug
  .schedule-timeline#schedule
    .schedule-nav
      .schedule-nav__content
        .schedule-nav__date
          include ../../units/datechanger/datechanger.pug
        .schedule-nav__timeline
        
    .schedule-grid
      .schedule-grid__inner
        // legend grid for the schedule from 8 am to 23 pm
        - var hour = 8;
        while hour < 24
          // time before 12 is the past
          if hour < 13
            section(class="schedule-grid__legend schedule-grid__legend_hour_"+hour)
              .schedule-grid__legend-hour_past.schedule-grid__legend-hour= hour++
          else
            section(class="schedule-grid__legend schedule-grid__legend_hour_"+hour)
              .schedule-grid__legend-hour= hour++
        // legend for current time
        section.schedule-grid__legend.schedule-grid__legend_hour_current
            .schedule-grid__legend-hour.schedule-grid__legend-hour_current 12:30
            
    .schedule-stages
      .schedule-stages__underlayer
      .stage
        .stage__label 7 этаж
        .stage__rooms
          .room.room_reserved
            .room__description
              .room__label Ржавый Длинный Фред
              .room__capacity 56 человек
            .room-schedule
              a.room-schedule__interval.room-schedule__interval_reserved(tabindex=0)
                include ../../units/tooltip/tooltip.pug
              .room-schedule__interval.room-schedule__interval_free
          .room.room_focused
            .room__description
              .room__label Прачечная
              .room__capacity до 10 человек
            .room-schedule
          .room
            .room__description
              .room__label Жёлтый дом
              .room__capacity до 10 человек
            .room-schedule
      .stage
        .stage__label 6 этаж
        .stage__rooms
          .room
            .room__description
              .room__label Джокер
              .room__capacity 25 человек
            .room-schedule
          .room
            .room__description
              .room__label Джокер
              .room__capacity 25 человек
            .room-schedule
          .room
            .room__description
              .room__label Джокер
              .room__capacity 25 человек
            .room-schedule
          .room
            .room__description
              .room__label Джокер
              .room__capacity 25 человек
            .room-schedule
          .room
            .room__description
              .room__label Джокер
              .room__capacity 25 человек
            .room-schedule
          .room
            .room__description
              .room__label Джокер
              .room__capacity 25 человек
            .room-schedule
          .room
            .room__description
              .room__label Джокер
              .room__capacity 25 человек
            .room-schedule
