@import '../../../styleVariables.css';

.schedule {
  height: calc(100% - 72px);
  width: 100%;

  &-datepicker {
    &_mobile {
      display: none;

      $mediaIsMobile {
        display: block;
      }
    }
  }

  &-nav {
    border-bottom: 1px solid #e9ecef;
    width: 1280px;

    &__content {
      background: #fff;
    }

    &__date {
      width: 245px;
      padding: 0 24px 0 0;

      $mediaIsMobile {
        display: none;
      }
    }

    &__timeline {
      $mediaIsMobile {
        width: 1280px;
        height: 32px;
        border-top: 1px solid #e9ecef;
        background: #fff;
      }
    }
  }

  &-timeline {
    @util center-block;
    width: 100%;
    height: 100%;
    max-width: 1280px;
    background: #f6f7f9;
    overflow-x: scroll;
    overflow-y: visible;
    position: relative;

    $mediaIsMobile {
      height: calc(100% - 56px);
    }
  }

  &-grid {
    position: absolute;
    height: calc(100% - 47px);

    &__inner {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 245px;
      top: 0;

      $mediaIsMobile {
        left: 145px;
      }
    }

    &__legend {
      position: absolute;
      height: 100%;
      width: 1px;
      background-color: rgba(19, 100, 205, 0.1);
      top: 0;
      z-index: 10;

      @for $hour from 8 to 23 {
        &_hour_$hour {
          left: calc(65px * ($hour - 7) - 35px);
        }
      }

      &_hour_current {
        background-color: #007dff;
        left: calc(65px * (12.5 - 7) - 35px);
        height: calc(100% + 12px);
        top: -12px;

        $mediaIsMobile {
          height: calc(100% + 6px);
          top: -6px;
        }
      }

      &-hour {
        position: absolute;
        bottom: 100%;
        margin-bottom: 16px;
        font-size: 11px;
        transform: translateX(-50%);
        font-family: $fontBold;
        letter-spacing: 0.4px;
        color: #252525;

        $mediaIsMobile {
          margin-bottom: 10px;
        }

        &_current {
          height: 20px;
          line-height: 20px;
          width: 49px;
          text-align: center;
          color: #fff;
          background: #007dff;
          border-radius: 100px;
          margin-bottom: 0;

          $mediaIsMobile {
            margin-bottom: 0;
          }
        }

        &_past {
          color: #858e98;
        }
      }
    }
  }

  &-stages {
    height: calc(100% - 47px);
    width: 100%;
    position: relative;

    &__underlayer {
      position: absolute;
      top: 0;
      left: 0;
      width: 245px;
      background: #fff;
      height: 100%;

      $mediaIsMobile {
        display: none;
      }
    }
  }

  $mediaIsMobile {
    height: calc(100% - 48px);
  }
}
