@import '../../../styleVariables.css';

.control {
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: #dcdfe1;
  }

  &_arrow {
    $mediaIsMobile {
      height: 32px;
      width: 32px;
    }
  }
}
