include ../label/label

mixin input(label, placeholder, value, icon, iconClass)
  label.input-wrapper
    div.input__label
      +label(label)
    div.input__element
      input(type="text", placeholder= placeholder, value= value).input
      if icon
        span(class="input__icon input__icon_"+iconClass)
          div(class="icon icon_"+icon)