button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.button {
  border-radius: 4px;
  font-size: 13px;
  font-family: HelveticaNeue-Medium;
  cursor: pointer;

  @media screen and (max-width: 420px) {
    font-size: 15px;
  }

  &_size {
    &_default {
      height: 36px;
      line-height: 36px;
      padding: 0 16px;

      @media screen and (max-width: 420px) {
        height: 44px;
        line-height: 44px;
        padding: 0 24px;
      }
    }
  }

  &_blue {
    background: #007dff;
    color: #fff;

    &:hover {
      background: #0059ff;
    }

    &:focus {
      background: #0059ff;
    }

    &:disabled {
      background: #e9ecef;
      color: rgba(#000000, 0.2);
    }
  }

  &_grey {
    background: #e9ecef;
    color: #000;

    &:hover {
      background: #dde0e4;
    }

    &:focus {
      background: #c8cdd3;
    }

    &:disabled {
      background: #e9ecef;
      color: rgba(0, 0, 0, 0.2);
    }
  }

  &_mr_16 {
    margin-right: 16px;
  }
}
