.datepicker
  .datepicker__control.datepicker__control_prev
    include ../control/arrowControl.pug
  .datepicker__date(tabindex=0) 14 дек · Сегодня
  .datepicker__control.datepicker__control_next
   include ../control/arrowControl.pug