.datechanger(tabindex=0)
  .datechanger__control.datechanger__control_prev
    include ../control/arrowControl.pug
  .datechanger__date 14 дек · Сегодня
  .datechanger__control.datechanger__control_next
   include ../control/arrowControl.pug
  .datechanger-datepicker
    include ../datepicker/datepicker.pug