extends ../../units/popup/popup.pug

block content
  .popup__icon 🙅🏻
  .popup__title Встреча будет удалена безвозвратно
  .popup__actions
    button.button.button_size_default.button_grey.button_mr_16 Отмена
    button.button.button_size_default.button_grey Удалить