.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 1.2em 2.6em;
}

.no-svg .icon:before {
    background-image: url("../svg/sprite.png");
}



  .icon.icon_arrow:before {
      background-position: 0em 0em;
      width: 0.9em;
      height: 1.4em;
  }




  .icon.icon_edit:before {
      background-position: 0em -1.4em;
      width: 1.2em;
      height: 1.2em;
  }





