html,
body {
  width: 100%;
  height: 100%;
  font-family: HelveticaNeue;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.application {
  height: 100%;
}

.layout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

.button {
  font-size: 13px;
  font-family: HelveticaNeue-Medium;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .button {
    font-size: 15px;
  }
}

.button_size_default {
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
}

@media screen and (max-width: 420px) {
  .button_size_default {
    height: 44px;
    line-height: 44px;
    padding: 0 24px;
  }
}

.button_size_big {
  height: 54px;
  line-height: 54px;
  width: 100%;
}

.button_blue {
  border-radius: 4px;
  background: #007dff;
  color: #fff;
}

.button_blue:hover {
  background: #0059ff;
}

.button_blue:focus {
  background: #0059ff;
}

.button_blue:disabled {
  background: #e9ecef;
  color: rgba(#000000, 0.2);
}

.button_grey {
  background: #e9ecef;
  color: #000;
  border-radius: 4px;
}

.button_grey:hover {
  background: #dde0e4;
}

.button_grey:focus {
  background: #c8cdd3;
}

.button_grey:disabled {
  background: #e9ecef;
  color: rgba(0, 0, 0, 0.2);
}

.button_warning {
  text-align: center;
  color: red;
}

.button_mr_16 {
  margin-right: 16px;
}
.calendar-weekday,
.calendar-day {
  width: 30px;
  height: 30px;
  line-height: 30px;
  -ms-flex-preferred-size: 30px;
  flex-basis: 30px;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
}

.calendar-weekdays,
.calendar-week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 420px) {
  .calendar {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .calendar-month {
    margin-bottom: 20px;
  }
}

.calendar-month__label {
  width: 100%;
  margin: 8px 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 420px) {
  .calendar-weekday {
    width: 48px;
    height: 48px;
    line-height: 48px;
    -ms-flex-preferred-size: 48px;
    flex-basis: 48px;
  }
}

.calendar-week_first {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.calendar-day {
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .calendar-day {
    width: 48px;
    height: 48px;
    line-height: 48px;
    -ms-flex-preferred-size: 48px;
    flex-basis: 48px;
  }
}

.calendar-day:hover {
  border-radius: 100%;
  background: #eee;
}

.calendar-day_weekend {
  color: #d1d1d1;
}

.calendar-day_holiday {
  color: red;
}

.calendar-day_active {
  border-radius: 100%;
  background: #007dff;
  color: #fff;
  font-family: HelveticaNeue-Medium;
}

.calendar-day_active:hover {
  border-radius: 100%;
  background: #007dff;
}
.control {
  border: none;
  cursor: pointer;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background: #e9ecef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.control:hover {
  background: #dcdfe1;
}

@media screen and (max-width: 420px) {
  .control_arrow {
    height: 32px;
    width: 32px;
  }
}
.editor {
  padding: 32px 0;
  width: 876px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}

@media screen and (max-width: 420px) {
  .editor {
    width: 100%;
    padding: 24px 0;
  }
}

.editor-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.editor-header__title {
  font-family: HelveticaNeue-Bold;
  font-size: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 420px) {
  .editor-header__close {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .editor-header {
    padding: 0 16px;
  }
}

.editor-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.editor-body__column {
  width: 420px;
  margin-bottom: 24px;
}

@media screen and (max-width: 420px) {
  .editor-body__column {
    width: 100%;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.editor-body__column_mobile {
  display: none;
}

@media screen and (max-width: 420px) {
  .editor-body__column_mobile {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .editor-body__column_desktop {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .editor-body__column_mobile_border {
    border-color: #e9ecef;
    border-style: solid;
    border-top-width: 0;
    border-bottom-width: 8px;
    border-left-width: 0;
    border-right-width: 0;
    padding-bottom: 16px;
  }
}

.editor-body__column_fullwidth {
  padding: 0;
  margin-top: -16px;
}

.editor-body__fieldrow {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 420px) {
  .editor-body__fieldrow {
    display: block;
  }
}

@media screen and (max-width: 420px) {
  .editor-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.editor-input {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.editor-input_date {
  -ms-flex-preferred-size: 238px;
  flex-basis: 238px;
  margin-right: 16px;
}

@media screen and (max-width: 420px) {
  .editor-input_date {
    margin-right: 0;
  }
}

.editor-input_time {
  -ms-flex-preferred-size: 72px;
  flex-basis: 72px;
}

@media screen and (max-width: 420px) {
  .editor-input_time {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
}

.editor-input_timeperiod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media screen and (max-width: 420px) {
  .editor-input_timeperiod {
    margin-top: 8px;
  }
}

.editor-input_divider {
  font-family: HelveticaNeue-Bold;
  font-size: 13px;
  letter-spacing: 0.47px;
  margin: 0 4px;
  text-align: center;
  line-height: 38px;
  height: 38px;
}

.editor-controls {
  background: #ffffff;
  border-top: 1px solid #e9ecef;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
}

.editor-controls__buttons {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

@media screen and (max-width: 420px) {
  .editor-controls__buttons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 16px;
  }
}
.datechanger {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding: 11px 0;
}

@media screen and (max-width: 420px) {
  .datechanger {
    padding: 12px 16px;
  }
}

.datechanger__date {
  text-align: center;
  font-family: HelveticaNeue-Medium;
  font-size: 15px;
  color: #000000;
  line-height: 18px;
  cursor: pointer;
}

.datechanger__control_next {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.datechanger-datepicker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 20;
  width: 100%;
}

.datechanger:focus .datechanger__date {
  color: #0070e0;
}

.datechanger:focus .datepicker {
  display: block;
}
.datepicker {
  width: 720px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
  box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
  border-radius: 4px;
  padding: 16px;
  outline: none;
  display: none;
}

@media screen and (max-width: 420px) {
  .datepicker {
    width: 100%;
    height: 380px;
    overflow-y: scroll;
  }
}
.dropdown {
  position: relative;
}

.dropdown__content {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 10px 0 rgba(0, 44, 92, 0.28);
  box-shadow: 0 1px 10px 0 rgba(0, 44, 92, 0.28);
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 4px;
  display: none;
  z-index: 50;
}

.dropdown-list {
  max-height: 136px;
  overflow-y: scroll;
}

.dropdown-list__item {
  height: 34px;
  line-height: 34px;
  padding: 5px 16px;
  cursor: pointer;
}

.dropdown-list__item:hover {
  background: #f6f7f9;
  font-family: HelveticaNeue-Bold;
}

.dropdown-list::-webkit-scrollbar {
  width: 8px;
}

.dropdown-list::-webkit-scrollbar-thumb {
  width: 8px;
  height: 40px;
  background: #d5dfe9;
  border-radius: 100px;
}

.dropdown_active .dropdown__content {
  display: block;
}
.event-recommendation {
  border-radius: 4px;
  height: 37px;
  line-height: 37px;
  margin-bottom: 8px;
  padding: 0 10px;
  position: relative;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 420px) {
  .event-recommendation {
    height: 44px;
    line-height: 44px;
  }
}

.event-recommendation__data {
  font-size: 13px;
}

@media screen and (max-width: 420px) {
  .event-recommendation__data {
    font-size: 15px;
  }
}

.event-recommendation__time {
  font-family: HelveticaNeue-Bold;
  margin-right: 16px;
  display: inline-block;
}

.event-recommendation__name {
  font-family: HelveticaNeue;
}

.event-recommendation__close {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}
.header {
  background: #fff;
  border-bottom: 1px solid #e9ecef;
}

.header__content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 18px 24px 17px;
  width: 100%;
  max-width: 1280px;
}

@media screen and (max-width: 420px) {
  .header__content {
    padding: 15px 20px 11px;
  }
}

@media screen and (max-width: 420px) {
  .header__logo {
    height: 21px;
  }

  .header__logo-image {
    height: 21px;
  }
}

@media screen and (max-width: 420px) {
  .header__controls {
    display: none;
  }
}
.input {
  background: #ffffff;
  border: 2px solid #e9ecef;
  border-radius: 4px;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  font-size: 15px;
}

@media screen and (max-width: 420px) {
  .input {
    height: 44px;
  }
}

.input__element {
  position: relative;
}

.input__icon {
  position: absolute;
  right: 12px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}

.input__icon_rotate_270 {
  -webkit-transform: translateY(50%) rotate(270deg);
  transform: translateY(50%) rotate(270deg);
}

.input__icon_rotate_90 {
  -webkit-transform: translateY(50%) rotate(90deg);
  transform: translateY(50%) rotate(90deg);
}

.input::-webkit-input-placeholder {
  color: #858e98;
}

.input:-ms-input-placeholder {
  color: #858e98;
}

.input::-ms-input-placeholder {
  color: #858e98;
}

.input::placeholder {
  color: #858e98;
}

.input:focus {
  border-color: #007dff;
}
.label {
  font-family: HelveticaNeue-Bold;
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 4px;
}
.multiselect__selection {
  margin-top: 12px;
}

.multiselect-selected {
  background: #e9ecef;
  border-radius: 16px;
  height: 24px;
  position: relative;
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}

@media screen and (max-width: 420px) {
  .multiselect-selected {
    width: 100%;
    height: 32px;
  }
}

.multiselect-selected__avatar {
  float: left;
  height: 24px;
  width: 24px;
  border-radius: 100%;
}

@media screen and (max-width: 420px) {
  .multiselect-selected__avatar {
    width: 32px;
    height: 32px;
  }
}

.multiselect-selected__name {
  font-family: HelveticaNeue;
  font-size: 13px;
  padding: 0 36px 0 8px;
  line-height: 24px;
}

@media screen and (max-width: 420px) {
  .multiselect-selected__name {
    font-size: 15px;
    line-height: 32px;
  }
}

.multiselect-selected__close {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  .multiselect-selected__close {
    right: 14px;
  }
}
.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 24px;
  line-height: 24px;
}

.person__avatar {
  border-radius: 100%;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

@media screen and (max-width: 420px) {
  .person__avatar_mobile_big {
    width: 32px;
    height: 32px;
  }
}

.person__name {
  font-size: 13px;
}

@media screen and (max-width: 420px) {
  .person__name {
    font-size: 15px;
  }
}

.person__separator {
  padding: 0 3px;
}

.person__description {
  font-size: 13px;
  color: #c7c7c7;
}

@media screen and (max-width: 420px) {
  .person__description {
    font-size: 15px;
  }
}

.person_float_left {
  float: left;
  margin-right: 3px;
}
.popup {
  padding: 32px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  border-radius: 8px;
  width: 445px;
}

.popup-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 16, 33, 0.4);
  z-index: 100;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
}

@media screen and (max-width: 420px) {
  .popup-overlay {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.popup__icon {
  font-size: 40px;
  text-align: center;
  margin-bottom: 17px;
}

.popup__title {
  color: #000000;
  font-family: HelveticaNeue-Bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 8px;
  width: 320px;
  margin: 0 auto;
}

.popup__content-text {
  margin-bottom: 8px;
  text-align: center;
}

.popup__actions {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media screen and (max-width: 420px) {
  .popup {
    width: 100%;
    margin-bottom: 24px;
  }
}
.schedule {
  height: calc(100% - 72px);
  width: 100%;
}

.schedule-datepicker_mobile {
  display: none;
}

@media screen and (max-width: 420px) {
  .schedule-datepicker_mobile {
    display: block;
  }
}

.schedule-nav {
  border-bottom: 1px solid #e9ecef;
  width: 100%;
}

.schedule-nav__content {
  background: #fff;
}

.schedule-nav__date {
  width: 245px;
  padding: 0 24px 0 0;
}

@media screen and (max-width: 420px) {
  .schedule-nav__date {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .schedule-nav__timeline {
    width: 1280px;
    height: 32px;
    border-top: 1px solid #e9ecef;
    background: #fff;
  }
}

.schedule-timeline {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  background: #f6f7f9;
  overflow-x: scroll;
  overflow-y: visible;
  position: relative;
}

@media screen and (max-width: 420px) {
  .schedule-timeline {
    height: calc(100% - 56px);
  }
}

.schedule-grid {
  position: absolute;
  height: 100%;
}

.schedule-grid__inner {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 245px;
  top: 0;
}

@media screen and (max-width: 420px) {
  .schedule-grid__inner {
    left: 145px;
  }
}

.schedule-grid__legend {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: rgba(19, 100, 205, 0.1);
  top: 0;
  z-index: 10;
}

.schedule-grid__legend_hour_8 {
  left: calc(65px * (8 - 7) - 35px);
}

.schedule-grid__legend_hour_9 {
  left: calc(65px * (9 - 7) - 35px);
}

.schedule-grid__legend_hour_10 {
  left: calc(65px * (10 - 7) - 35px);
}

.schedule-grid__legend_hour_11 {
  left: calc(65px * (11 - 7) - 35px);
}

.schedule-grid__legend_hour_12 {
  left: calc(65px * (12 - 7) - 35px);
}

.schedule-grid__legend_hour_13 {
  left: calc(65px * (13 - 7) - 35px);
}

.schedule-grid__legend_hour_14 {
  left: calc(65px * (14 - 7) - 35px);
}

.schedule-grid__legend_hour_15 {
  left: calc(65px * (15 - 7) - 35px);
}

.schedule-grid__legend_hour_16 {
  left: calc(65px * (16 - 7) - 35px);
}

.schedule-grid__legend_hour_17 {
  left: calc(65px * (17 - 7) - 35px);
}

.schedule-grid__legend_hour_18 {
  left: calc(65px * (18 - 7) - 35px);
}

.schedule-grid__legend_hour_19 {
  left: calc(65px * (19 - 7) - 35px);
}

.schedule-grid__legend_hour_20 {
  left: calc(65px * (20 - 7) - 35px);
}

.schedule-grid__legend_hour_21 {
  left: calc(65px * (21 - 7) - 35px);
}

.schedule-grid__legend_hour_22 {
  left: calc(65px * (22 - 7) - 35px);
}

.schedule-grid__legend_hour_23 {
  left: calc(65px * (23 - 7) - 35px);
}

.schedule-grid__legend_hour_current {
  background-color: #007dff;
  left: calc(65px * (12.5 - 7) - 35px);
  height: calc(100% + 12px);
  top: -12px;
}

@media screen and (max-width: 420px) {
  .schedule-grid__legend_hour_current {
    height: calc(100% + 6px);
    top: -6px;
  }
}

.schedule-grid__legend-hour {
  position: absolute;
  bottom: 100%;
  margin-bottom: 16px;
  font-size: 11px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  font-family: HelveticaNeue-Bold;
  letter-spacing: 0.4px;
  color: #252525;
}

@media screen and (max-width: 420px) {
  .schedule-grid__legend-hour {
    margin-bottom: 10px;
  }
}

.schedule-grid__legend-hour_current {
  height: 20px;
  line-height: 20px;
  width: 49px;
  text-align: center;
  color: #fff;
  background: #007dff;
  border-radius: 100px;
  margin-bottom: 0;
}

@media screen and (max-width: 420px) {
  .schedule-grid__legend-hour_current {
    margin-bottom: 0;
  }
}

.schedule-grid__legend-hour_past {
  color: #858e98;
}

.schedule-stages {
  width: 100%;
  position: relative;
}

.schedule-stages__underlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 245px;
  background: #fff;
  height: 100%;
}

@media screen and (max-width: 420px) {
  .schedule-stages__underlayer {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .schedule {
    height: calc(100% - 48px);
  }
}

.stage {
  position: relative;
  padding-top: 21px;
}

.stage__label {
  font-family: HelveticaNeue-Bold;
  font-size: 11px;
  color: #858e98;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  position: relative;
  will-change: left;
}

@media screen and (max-width: 420px) {
  .stage__label {
    padding-left: 16px;
  }
}

.stage__rooms {
  margin-top: 8px;
}

.room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  width: 1280px;
}

.room:last-child {
  margin-bottom: 0;
}

.room__description {
  width: 245px;
}

@media screen and (max-width: 420px) {
  .room__description {
    width: 181px;
    background: #fff;
    height: 58px;
    padding: 12px 25px 0 16px;
  }
}

.room__label {
  font-family: HelveticaNeue-Medium;
  font-size: 15px;
  line-height: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.room__label_float {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
  box-shadow: 0 1px 8px 0 rgba(0, 44, 92, 0.28);
  border-radius: 4px;
  font-family: HelveticaNeue-Bold;
  font-size: 11px;
  color: #262626;
  letter-spacing: 0.4px;
  padding: 0 8px;
  position: relative;
  z-index: 2;
  will-change: left;
}

.room__capacity {
  font-size: 13px;
  line-height: 17px;
}

.room-schedule {
  height: 28px;
  background: #fff;
  width: calc(100% - 245px);
  position: relative;
}

.room-schedule__interval {
  position: absolute;
  top: 0;
  height: 100%;
  cursor: pointer;
}

.room-schedule__interval_reserved {
  background-color: #d5dfe9;
  width: 250px;
  left: 23px;
}

.room-schedule__interval_reserved:hover {
  background-color: #98a9b9;
}

.room-schedule__interval_reserved:focus {
  background-color: #98a9b9;
}

.room-schedule__interval_free {
  background-color: #fff;
  width: 95px;
  left: 273px;
}

.room-schedule__interval_free:hover {
  background-color: #1d54fe;
  border-radius: 2px;
  position: relative;
}

.room-schedule__interval_free:hover:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

.room-schedule__interval_free_pressed {
  background-color: #1d00fe;
}

.room-schedule__interval:focus {
  outline: none;
}

.room-schedule__interval:focus .tooltip {
  display: block;
}

@media screen and (max-width: 420px) {
  .room-schedule {
    height: 58px;
    width: calc(100% - 145px);
  }
}

.room_reserved .room__label {
  color: #858e98;
}

.room_reserved .room__capacity {
  color: #858e98;
}

.room_focused .room__label {
  color: #0070e0;
}

@media screen and (max-width: 420px) {
  .room {
    margin-bottom: 2px;
  }
}
.tooltip {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  box-shadow: 0 1px 16px 0 rgba(0, 44, 92, 0.28);
  border-radius: 8px;
  cursor: default;
  display: none;
  position: absolute;
  padding: 17px 16px 16px;
  top: 100%;
  left: calc(50% - 168px);
  width: 338px;
  z-index: 10;
}

.tooltip__triangle {
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 11;
  height: 0;
  width: 0;
}

.tooltip__control {
  position: absolute;
  top: 16px;
  right: 16px;
}

.tooltip__info {
  margin-bottom: 16px;
}

.tooltip__title {
  font-family: HelveticaNeue-Bold;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  margin-bottom: 2px;
}

@media screen and (max-width: 420px) {
  .tooltip__title {
    font-size: 20px;
    margin-bottom: 8px;
  }
}

.tooltip__description {
  font-size: 13px;
  color: #000000;
  line-height: 17px;
}

@media screen and (max-width: 420px) {
  .tooltip__description {
    font-size: 15px;
  }
}

.tooltip-people {
  line-height: 24px;
}

.tooltip-people__rest {
  color: #858e98;
  font-size: 13px;
}

@media screen and (max-width: 420px) {
  .tooltip-people__rest {
    font-size: 15px;
  }
}

@media screen and (max-width: 420px) {
  .tooltip {
    width: 360px;
    left: calc(50% - 180px);
  }
}