extends ./popup.pug

block content
  .popup__icon 🎉
  .popup__title Встреча создана!
  .popup__content
    p.popup__content-text 14 декабря, 15:00—17:00
    p.popup__content-text Готем · 4 этаж
  .popup__actions
    a(href="/index.html") 
      button.button.button_blue Хорошо