mixin selected(name)
  .multiselect-selected
      img.multiselect-selected__avatar(src="./images/avatar.jpg", alt= selected__name)
      span.multiselect-selected__name= name
      button.multiselect-selected__close
        .icon.icon_close

.multiselect
   include ../dropdown/dropdown
   .multiselect__selection
    +selected("Дарт Вейдер Второй")
    +selected("Дарт Вейдер")
    +selected("Дарт Вейдер Третий")
    +selected("Дарт Вейдер")