header.header
  .header__content
    .header__logo 
      a(href="/index.html")
        img(src="./images/logo.svg", alt="Яндекс переговорки").header__logo-image
    .header__controls
      button.button.button_blue Создать встречу