header.header
  .header__content
    h1.header__logo 
      a(href="/index.html")
        img(src="./images/logo.svg", alt="Яндекс переговорки").header__logo-image
    .header__controls
        a(href="/createEvent.html") 
          button.button.button_blue Создать встречу