.event-recommendation {
  border-radius: 4px;
  height: 37px;
  line-height: 37px;
  margin-bottom: 8px;
  padding: 0 10px;
  position: relative;
  width: 100%;
  text-align: left;

  @media screen and (max-width: 420px) {
    height: 44px;
    line-height: 44px;
  }

  &__time {
    font-family: HelveticaNeue-Bold;
    font-size: 13px;
    margin-right: 16px;
    display: inline-block;
  }

  &__name {
    font-size: 13px;
    font-family: HelveticaNeue;
  }

  &__close {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
