mixin person(name, description)
  .person
    img.person__avatar(src="./images/avatar.jpg", alt="Дарт Вейдер")
    span.person__name= name
    span.person__separator= ` · `
    span.person__description= description