.tooltip
  .tooltip__triangle
  .tooltip__control
    include ../control/editControl.pug
  .tooltip__info
    .tooltip__title Рассуждения о высоком
    .tooltip__description 14 декабря, 15:00—17:00  ·  Жёлтый дом
  .tooltip-people
    .person.person_float_left
      img.person__avatar.person__avatar_mobile_big(src="./images/avatar.jpg", alt="Дарт Вейдер")
      .person__name Дарт Вейдер
    .tooltip-people__rest и 12 участников
