include ../../units/input/input
include ../../units/label/label
include ../../units/eventRecommendation/eventRecommendation

section.editor
  header.editor-header
    h2.editor-header__title Редактирование встречи
    .editor-header__close
      include ../../units/control/closeControl.pug

  .editor-body
    .editor-body__column
      .editor-input
        +input("Тема", "О чём будете говорить?")

    // Date and time block for mobile devices
    .editor-body__column.editor-body__column_mobile_border.editor-body__column_mobile
      fieldgroup.editor-body__fieldrow
        .editor-input.editor-input_date
          +input("Дата и время", "Дата", "14 декабря, 2017", "calendar")
        .editor-input.editor-input_timeperiod
          .editor-input.editor-input_time
            +input(null, "Начало в", "16:00")
          .editor-input.editor-input_divider
            span —
          .editor-input.editor-input_time
            +input(null, "Конец в", "16:30")

    // Date and time block for desktop
    .editor-body__column.editor-body__column_desktop
      fieldgroup.editor-body__fieldrow
        .editor-input.editor-input_date
          +input("Дата", "Дата", "14 декабря, 2017", "calendar")
        .editor-input.editor-input_timeperiod
          .editor-input.editor-input_time
            +input("Начало", "Начало в", "16:00")
          .editor-input.editor-input_divider
            span —
          .editor-input.editor-input_time
            +input("Конец", "Конец в", "16:30")

    .editor-body__column.editor-body__column_mobile_border
      .editor-input.editor-input_members
         include ../../units/membersMultiselect/membersMultiselect
    
    .editor-body__column.editor-body__column_mobile_border
      +label("Ваша переговорка")
      .editor-recomendations
        - var isActive=true
        +recommendation("16:30 — 17:00", "Готем · 4 этаж", isActive)

    .editor-body__column.editor-body__column_mobile.editor-body__column_mobile_border.editor-body__column_fullwidth
      button.button.button_size_big.button_warning Удалить встречу
      

  .editor-controls
    .editor-controls__buttons
      .button.button_size_default.button_grey.button_mr_16 Отмена
      a(href="/confirmEventDelete.html") 
        .button.button_size_default.button_grey.button_mr_16 Удалить встречу
      a(href="/eventCreated.html") 
        .button.button_size_default.button_blue Сохранить