include ../input/input
include ../label/label

section.editor
  header.editor-header
    h2.editor-header__title Новая встреча
    .editor-header__close
      include ../control/closeControl.pug

  .editor-body
    .editor-body__column
      .editor-input
        +input("Тема", "О чём будете говорить?")

    .editor-body__column
      fieldgroup.editor-body__fieldrow
        .editor-input.editor-input_date
          +input("Дата", "Дата", "14 декабря, 2017", "calendar")
        .editor-input.editor-input_timeperiod
          .editor-input.editor-input_time
            +input("Начало", "Начало в", "16:00")
          .editor-input.editor-input_divider
            span —
          .editor-input.editor-input_time
            +input("Конец", "Конец в", "16:30")

    .editor-body__column
      .editor-input.editor-input_members
         include ../membersMultiselect/membersMultiselect
    
    .editor-body__column
      +label("Рекомендованные переговорки")
        
  .editor-controls
    .editor-controls__buttons
      .button.button_grey.button_mr_16 Отмена
      a(href="/eventCreated.html") 
        .button.button_blue Создать встречу