include ../input/input
include ../label/label
include ../eventRecommendation/eventRecommendation

section.editor
  header.editor-header
    h2.editor-header__title Новая встреча
    .editor-header__close
      include ../control/closeControl.pug

  .editor-body
    .editor-body__column
      .editor-input
        +input("Тема", "О чём будете говорить?")

    .editor-body__column.editor-body__column_mobile_border
      fieldgroup.editor-body__fieldrow
        .editor-input.editor-input_date
          +input("Дата", "Дата", "14 декабря, 2017", "calendar")
        .editor-input.editor-input_timeperiod
          .editor-input.editor-input_time
            +input("Начало", "Начало в", "16:00")
          .editor-input.editor-input_divider
            span —
          .editor-input.editor-input_time
            +input("Конец", "Конец в", "16:30")

    .editor-body__column.editor-body__column_mobile_border
      .editor-input.editor-input_members
         include ../membersMultiselect/membersMultiselect
    
    .editor-body__column.editor-body__column_mobile_border
      +label("Рекомендованные переговорки")
      .editor-recomendations
        +recommendation("16:30 — 17:00", "Готем · 4 этаж")
        +recommendation("17:30 — 18:00", "Поле непаханное · 4 этаж")
        +recommendation("16:30 — 17:00", "Тёмная башня · 4 этаж")

    .editor-body__column.editor-body__column_mobile.editor-body__column_mobile_border.editor-body__column_fullwidth
      button.button.button_size_big.button_warning Удалить встречу
      

  .editor-controls
    .editor-controls__buttons
      .button.button_size_default.button_grey.button_mr_16 Отмена
      a(href="/eventCreated.html") 
        .button.button_size_default.button_blue Создать встречу