mixin month(label)
  - var weekdays = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]

  .calendar-month
    h6.calendar-month__label= label
    .calendar-weekdays
      each weekday in weekdays
        .calendar-weekday= weekday

    .calendar-week.calendar-week_first
      .calendar-day 1
      .calendar-day 2
      .calendar-day.calendar-day_weekend 3
      .calendar-day.calendar-day_weekend 4
    .calendar-week
      .calendar-day.calendar-day_active 5
      .calendar-day 6
      .calendar-day.calendar-day_holiday 7
      .calendar-day 8
      .calendar-day 9
      .calendar-day.calendar-day_weekend 10
      .calendar-day.calendar-day_weekend 11
    .calendar-week
      .calendar-day 12
      .calendar-day 13
      .calendar-day 14
      .calendar-day 15
      .calendar-day 16
      .calendar-day.calendar-day_weekend 17
      .calendar-day.calendar-day_weekend 18
    .calendar-week
      .calendar-day 19
      .calendar-day 20
      .calendar-day 21
      .calendar-day 22
      .calendar-day 23
      .calendar-day.calendar-day_weekend 24
      .calendar-day.calendar-day_weekend 25
    .calendar-week
      .calendar-day 26
      .calendar-day 27
      .calendar-day 28
      .calendar-day 29
      .calendar-day 30

.calendar
  +month('Январь')
  +month('Февраль')
  +month('Март')